.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    /* grid-template-columns: repeat(auto-fill, 80px); */
    /* grid-template-rows: auto; */
    gap: 1em;
    justify-content: center;
}

app-grid-item {
    width: 80px;
    height: 80px;
}

.selectedItem {
    border: 3px solid green;
    width: 90px;
    height: 90px;
}

.selectedItem .icon {
    width: 100%;
    height: 100%;
}